*{
    margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-size: 100%;
	vertical-align: baseline; 
}

html {
	height: 100%;
	width: 100%;
	display: flex;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1;
    background-color: #23272a;
	height: 100%;
	width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h3{
	font-size: unset;
	margin-bottom: 0px;
}